[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
djoser = "*"
django-rest-framework = "*"
stripe = "*"
django-cors-headers = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-xdist = "*"
pytest-html = "*"
pytest-factoryboy = "*"
faker = "*"

[requires]
python_version = "3.9"
